/****** Script for SelectTopNRows command from SSMS  ******/
USE TEST;

SELECT * FROM BSEIT


SELECT * FROM BSEIT
WHERE SECTOR = 'SERVICES'; 


SELECT DISTINCT sector  -- it gives unique value or charactor.
FROM BSEIT;

SELECT DISTINCT industry  -- it gives unique value or charactor.
FROM BSEIT;


SELECT UPPER(nse_code), UPPER(ROUND(marketcap,0)),UPPER(industry)
FROM BSEIT;



SELECT nse_code AS NSECODE, sector AS SECTOR, price*2 AS PRICE, ROUND((price / eps),0) AS PE
FROM BSEIT
 WHERE PE>30 AND PE<40;



SELECT slno, industry+','+nse_code+','+sector
FROM BSEIT;



SELECT nse_code, ROUND((price / eps),0) AS PE, price
FROM BSEIT
WHERE sector='technology'; 



SELECT nse_code, ROUND((price / eps),0) AS PE, price
FROM BSEIT
WHERE  ROUND((price / eps),0)>30 AND price<10000 AND sector='services'; 



SELECT nse_code
FROM BSEIT
WHERE nse_code LIKE 'in%';



SELECT nse_code, price
FROM BSEIT
WHERE sector ='services' AND price<8000 ;



SELECT nse_code, price
FROM BSEIT
WHERE sector <>'services' ; --- "<>"  means not equal to.



SELECT price, nse_code
FROM BSEIT
WHERE nse_code LIKE 'in%' OR nse_code LIKE 'm%';



SELECT price, nse_code,sector
FROM BSEIT
WHERE  sector <>'technology' AND (nse_code LIKE 'in%' OR nse_code LIKE 'm%');



SELECT price, nse_code,sector
FROM BSEIT
WHERE  sector <>'services' AND NOT(nse_code LIKE 'in%' OR nse_code LIKE 'm%');




SELECT price, nse_code,sector
FROM BSEIT
WHERE  (sector <>'services' AND sector <> 'technology') AND NOT(nse_code LIKE 'in%' OR nse_code LIKE 'm%');

--- WE CAN USE ABOVE QUERY BY ANOTHER WAY WITH OUT USING BRACKET IS.

SELECT price, nse_code,sector
FROM BSEIT
WHERE  sector <>'services' AND sector <> 'technology' AND nse_code NOT LIKE 'in%' AND nse_code NOT LIKE 'm%';



SELECT price, nse_code,sector,industry
FROM BSEIT
ORDER BY sector, industry;  --ORDER BY first apply to sector and then apply to industry.



SELECT TOP 10 price, nse_code,sector
FROM BSEIT
ORDER BY price DESC; 

SELECT TOP 10 price, nse_code,sector
FROM BSEIT
ORDER BY price ASC;


SELECT MAX(price) AS PRICE ,sector
FROM BSEIT
GROUP BY sector;

SELECT MIN(price) AS PRICE , sector
FROM BSEIT
GROUP BY sector;

SELECT * FROM BSEIT

SELECT ROUND(SUM(marketcap),0) , sector
FROM BSEIT
GROUP BY sector
HAVING ROUND(SUM(marketcap),0)=46894;   -- HAVING SUM() used to compare.


SELECT ROUND(SUM(marketcap),0) , sector
FROM BSEIT
GROUP BY sector
HAVING ROUND(SUM(marketcap),0)>25000;   -- HAVING SUM() used to compare.

SELECT ROUND(MAX(marketcap),0) , sector
FROM BSEIT
GROUP BY sector
HAVING ROUND(MAX(marketcap),0)>25000;   ---- NEED TO CHECK.



SELECT industry, ROUND(SUM(marketcap),0) AS TOTAL_MARKET_CAP
FROM stocks
GROUP BY Industry;


SELECT name,pe,industry_pe,marketcap,Sales
FROM stocks
WHERE Industry='bearings' OR industry='tyres'
ORDER BY marketcap DESC;  -- Industry='bearings'  Industry='auto ancilaries' industry='tyres'


SELECT name,pe,industry_pe,marketcap,Sales
FROM stocks
WHERE Industry='construction'
ORDER BY marketcap DESC;



SELECT  current_price INTO stocksnew1 FROM stocks  
-- SELECT 'REQUIRED COLUMNS' INTO 'NEWTABLE NAME' FROM 'OLD TABLE NAME'.
-- SELECT '*' INTO 'NEWTABLE NAME' FROM 'OLD TABLE NAME'.  

SELECT(SELECT COUNT(*) FROM stocks) *(SELECT COUNT(*) FROM stocksnew); --- NEED TO CHECK.

SELECT * FROM stocks;

SELECT name
FROM stocks
WHERE name LIKE 'IN%';


SELECT name, Industry,pe,marketcap
FROM stocks
WHERE marketcap >2000 AND pe<20 AND industry='finance - housing'
ORDER BY PE DESC;



----------------------------------------------------------------------------------------------------------
SELECT * FROM BSEIT;

-- 1. FINDING SECOND HIGHEST PRICE USING MAX AND TOP.
SELECT MAX(price) FROM BSEIT 
WHERE price < (SELECT MAX(price) FROM BSEIT);

SELECT TOP 1 price FROM (SELECT TOP 2 price FROM bseit ORDER BY price DESC) 
AS bseit ORDER BY price ASC; --- in sub query we are selecting only top 2 (ex: 1,2) price by descending order and in outer query selected top 1 by ascending order (2 comes to top).


SELECT TOP 1 price FROM (SELECT TOP 3 price FROM bseit ORDER BY price DESC) 
AS bseit ORDER BY price ASC; --- in sub query we are selecting only top 3 (ex: 1,2,3) price by descending order and in outer query selected top 1 by ascending order (3 comes to top).



--2. IT GIVES ALL EMPLOYEE DETAILS WHO HAVE MAXIMUM SALARY.
SELECT id, name FROM employee
WHERE salary=(SELECT MAX(SALARY) FROM employee);






USE test


